@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Lato:wght@300&display=swap');
@font-face {
  font-family: 'Gopher';
  src: url(./font/Gopher.ttf);
  font-weight: 400;
}
* {
    box-sizing: border-box;
}

body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1{
  font-family: 'Fredoka One';
  color: rgb(147, 147, 147);
}

.Nadine{
  margin-bottom: 40px;
}

h4, h6{
  font-family: 'Gopher';
  color: rgb(147, 147, 147);
  text-align: center;
  margin-top: -20px;
}

.container {
  margin: 0 auto 40px;
  width: 200px;
  height: 200px;
  perspective: 400px;
  perspective-origin: 50% 100%;
  position: absolute;
  bottom: 17vh;
}

.cube {
  position: relative;
  transform-style: preserve-3d;
  transition: transform 6s;
  width: 100%;
  height: 100%;
  top: 10vh;
}

.cube div {
  background-color: #80a7d3;
  border: 1px solid #ffffff;
  width: 200px;
  height: 200px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
.front {transform: translateZ(100px);}
.back {transform: rotateX(-180deg) translateZ(100px);}
.right {transform:rotateY(90deg) translateZ(100px);}
.left {transform:rotateY(-90deg) translateZ(100px);}
.top {transform:rotateX(90deg) translateZ(100px);}
.bottom {transform:rotateX(-90deg) translateZ(100px);}

#rename{
  display: flex;
  flex-direction: column;
  align-items: center;
}

p{
  color: #ffffff;
  font-size: 20px;
  font-family: 'Fredoka One', cursive;
  font-weight: 100;
}

input::placeholder {
  color: #ffffff;
  font-family: 'Gopher';
}

.sechs_personen{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 3px;
  column-gap: 10px;
}

.zwei_personen, .drei_personen, .sechs_personen{
  display: none;
}


input{
  background-color: #80a7d3;
  font-family: 'Gopher';
  color:#ffffff;
  border: none;
  border-style: none;
  text-align: center;
  height: 20px;
  width: 100px;
  border-radius: 5px;
  margin: 5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

button{
  margin-bottom: 20px;
  background-color: rgb(147, 147, 147);
  font-family: 'Gopher';
  color:#ffffff;
  border: none;
  border-style: none;
  text-align: center;
  height: 20px;
  width: 100px;
  border-radius: 5px;
}